@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Todo common effects */
  h1 {
    @apply text-medium-h5 text-title;
  }

  a {
    @apply text-blue-80 underline;
  }
}

:root {
  --background: #F5F5F5;
  --foreground: #0a0a0a;
}

[data-theme='dark'] {
  :root {
    --background: #0a0a0a;
    --foreground: #F5F5F5;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  width: 100vw;
}